[MASTER]
ignore-paths=venv,node_modules
ignore=__version__.py

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=W0511,too-few-public-methods,invalid-name,line-too-long,no-self-argument,missing-function-docstring,too-many-ancestors,no-member,R0801
